/* Fuente para el título retro */
@font-face {
  font-family: "kubics_rube";
  src: url("../tipografías/KubicsRube.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Fuente para el botón y el texto de carga */
@font-face {
  font-family: "detalpalo";
  src: url("../tipografías/detalpalo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
